/*
* @Author: weijie
* @Date:   2017-09-14 20:39:11
* @Last Modified by:   weijie
* @Last Modified time: 2017-09-14 21:14:47
*/
.video-barrage {
  position: relative;
  width: 640px;
  margin: auto;
}
.video-barrage canvas {
  position: absolute;
  width: 640px;
  height: 360px;
  pointer-events: none;
  z-index: 1;
}
.video-barrage video {
  background-color: black;
  outline: 1px solid #eee;
}
.video-barrage .list {
  border-top: 1px solid #eee;
  margin-top: 1.5em;
  padding-top: 2em;
}
