/**
 * @Author: weijie
 * @Date:   2017-09-15T09:10:22+08:00
 * @Email:  weijie@rongyi.com
 * @Filename: App.css
 * @Last modified by:   weijie
 * @Last modified time: 2017-09-18T13:38:09+08:00
 */



/* Base Application Styles */
body {
  /*color: #fff;*/
  /*background: #222;*/
}

.clearfix::after {
  clear: both;
  display: table;
  content: '';
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow: auto;
  border-right: 1px solid #000;
}
.page-header ul {
  margin: 0;
  padding: 0;
}
.page-header li {
  list-style: none;
}
.page-header li a {
  padding: 5px;
  display: block;
}

.page-main {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
}
