/**
 * @Author: weijie
 * @Date:   2017-09-15T09:10:22+08:00
 * @Email:  weijie@rongyi.com
 * @Filename: App.css
 * @Last modified by:   weijie
 * @Last modified time: 2017-09-15T13:47:53+08:00
 */



/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.clearfix::after {
  clear: both;
  display: table;
  content: '';
}

.page-header {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #fff;
}
.page-header li {
  float: left;
  list-style: none;
}
.page-header li a {
  float: left;
  color: #fff;
  padding: 5px;
}

.page-main {
  padding: 20px;
}
